#!/usr/bin/python3
# -*- coding: utf-8 -*-

"""
 Create On: November 01, 2016
    Author: corvo
"""
import logging

# Python 日志记录
log_format = '%(filename)s [%(asctime)s] [%(levelname)s] %(message)s' 

logging.basicConfig(format=log_format,  \
        level=logging.DEBUG, \
        filename='py.log', \
        filemode='w')



mysql_host = '127.0.0.1'
mysql_user= 'root'
mysql_password = '***'
mysql_database = '***'
